/* You can add global styles to this file, and also import other style files */
/* font can be imported here */
html, body { height: 100%; }
body { margin: 0; font-family: 'Indie Flower', cursive; background-color: #d7e0ff; color: #00004d}
